<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div>
        <ul class="nav navbar-nav">
          <li>
            <a href="javascript:;" style="margin:5px -10px;"><b>User List</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container" ng-controller="ngUserController">
  <table class="table table-hover table-bordered">
    <thead>
      <tr class="active">
        <th style="width:70px">#ID</th>
        <th>Account</th>
        <th style="width:70px">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in pageList.list track by $index" class="charts-bg">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td><a href="">[编辑]</a></td>
      </tr>
    </tbody>
  </table>

  <div class="text-right">
    <ul  uib-pagination boundary-links="true" max-size="8" total-items="pageList.total" items-per-page="pageList.pageSize" ng-model="pageList.currentPage" ng-change="pageChanged()" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
  </div>

</div>
