<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doopp.gauss.server.dao.UserDao">


    <select id="getById" parameterType="String" resultType="com.doopp.gauss.server.entity.User">
        SELECT * FROM `oauth_user` LIMIT 1
    </select>

</mapper>