<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Websocket Demo , Chat room</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/angular-ktanchor.js"></script>
    <script>
        let chatUserList = [];
        let chatMessageList = [];
    </script>
</head>

<body ng-app="ngChatApp">

    <div class="body-background" style="top:0;left:0;width:100%;height:100%;overflow:hidden;">
        <div class="body-background blur-10"></div>
    </div>

    <div class="body-content">
        <div class="body-content-left scroll-container opacity-82">
            <div style="top:0;position:relative;padding:0 0;">
                <div class="treemenu-container">
                    <a href="javascript:void(0);" class="tree-menu tree-menu-0">
                        <div>在线 {{ chatUserList.length }} 位</div>
                    </a>
                    <div ng-repeat="chatUser in chatUserList track by $index">
                        <a href="javascript:void(0);" class="tree-menu tree-menu-1">
                            <div>{{ chatUser.name }}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-content-right scroll-container opacity-92" style="padding:20px;">
            <div style="padding:20px;width:100%;height:calc(100% - 100px);overflow-y:scroll;border:2px solid #cccccc;margin-bottom:20px;" id="chat-content">
                <div ng-repeat="chatMessage in chatMessageList track by $index">
                    <div ng-if="chatMessage.action=='CHAT'" style="max-width:70%;text-align:left;" class="alert alert-success" role="alert">
                        <b>{{ chatMessage.name }} : </b> {{ chatMessage.message }}
                    </div>
                    <div ng-if="chatMessage.action=='JOIN'" style="width:100%;text-align:center;">
                        <b>{{ chatMessage.name }}</b> {{ chatMessage.message }}
                    </div>
                </div>
            </div>
            <div class="row">
                <form ng-submit="submitMessage()">
                    <div class="col-md-10">
                        <input class="form-control" name="message" type="text" ng-model="formData.data.message">
                    </div>
                    <div class="col-md-2">
                        <button style="width:100%;" class="btn btn-success">你说 ...</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-brand"> &nbsp; Chat Room</a>
            </div>
        </div>
    </nav>

    </body>
</html>
